coupling_calc
coupling_calc.dSYM
.DS_Store
out/
*/obj/*
structures/
LHCII/
dimer/
pigme*
ver_test
*.txt
*.mod
*.o
test*
in/*
*__pycache__*
!in/*_tresp*
exec*
docs/html/*
docs/latex/*
!docs/latex/refman.pdf
cpptraj.log
